/*mobile 320x568,
tablet 820x1180,
desktop 1920×1080*/
body {
    scroll-behavior: smooth;
    background: rgba(113, 111, 111, 0.611);
}
* {
    box-sizing: border-box;
}
h1 {
    color: black;
    font-size: 1.8em;
    margin: 0.4em;
    text-align: left;
}
.main__container{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}
.empty {
    min-width: 100%;
}
.mems__wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.accordion {
    border-radius: 1%;
    padding: 0 0.3em;
    cursor: pointer;
    display: flex;
    flex-direction: column;

}
.accordion__item{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-color: beige;
    align-items: center;
    width: 100%;
    border-bottom: 0.1em solid rgb(48, 48, 48);
}
.item__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.label {
    display: block;
    width: 100%;
}
.text__container {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.accordion__item-tittle {
    font-size: 1.5625em;
    font-weight: 900;
    color: rgb(67, 67, 67);
}
.icon {
    display: block;    /*none*/
    transition: all 0.7s;
    width: 83%;
    height: auto;
}





.accordion:hover .icon {
    display: block;
}
.accordion:hover .accordion__item-tittle {
    color: black;
}
.img__container {
    cursor: pointer;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}
.mem-pic{
    cursor: pointer;
    width: 0%;
    height: 0%;
    padding-top: 1em;
    transition: all 0.8s;
}
.accordion__item:hover .mem-pic {
    width: auto;
    height: 90%;
    transition: all 0.8s;
}
.accordion__item:hover .icon {
    transition: all 0.3s;
    transform: rotate(-45deg);
}
.accordion__radio {
    opacity: 0;
}
.accordion__radio:checked ~ .img__container .mem-pic{
    height: 90%;
    width: auto;
}

/**/
.accordion__radio:checked ~ .label .text__container .icon {
    transform: rotate(-45deg);
}